table{
    border:3px solid skyblue
}
td{
    border:1px solid skyblue
}
id{
    background-color:skyblue
}
name{
    background-color:skyblue
}
password{
    background-color:skyblue
}
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}
.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

.nav-bar li {
    float: left;
}

.nav-bar li a, .nav-bar .dropbtn {
    display: inline-block;
    color: black;
    font-size:20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
.nav-bar .active{
    background-color: gray;
    color: white;
}
.nav-bar li a:hover , .nav-bar .dropdown:hover .dropbtn{
    background-color: orange;
    color: white;
}

.nav-bar .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 160px;
    box-shadow: 5px 8px 10px 0px black;
}

.nav-bar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav-bar .dropdown-content a:hover {
    background-color: gray;
    color:white;
}

.nav-bar .dropdown:hover .dropdown-content {
    display: block;
}
.nav-bar h1,h2,h3{
    text-align:center;
    color: green;
}