

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:visited {
    color: black;
  }
  ul {
    list-style-type: none;
  }
  div,
  ul,
  li {
    border: 1px solid black;
  }
  .hd_fixed {
    max-width: 1170px;
    margin: 0 auto;
  }
  .hd_cotent {
    display: flex;
    height: 90px;
    align-items: stretch;
  }
  .hd_cotent .logo {
    flex-basis: 170px;
    flex-shrink: 0;
    flex-grow: 0;
  }
  .hd_cotent .logo h1 {
    line-height: 90px;
    text-align: center;
  }
  .hd_cotent .gnb_menu {
    height: 100%;
    margin: 0 auto;
    width: 900px;
  }
  .hd_cotent .gnb_menu ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: stretch;
  }
  .hd_cotent .gnb_menu ul li {
    flex: 0 0 13%;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 90px;
    height: 100%;
    text-align: center;
  }
  .hd_cotent .gnb_menu ul li a {
    display: inline-block;
    height: 100%;
  }
  
  a:hover{
    color: #f6ca00;
    font-weight: 700;
  }
  